* {
    background-color: #FFFFEE;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
}

h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 2.25rem;
}

.heads {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 1.5rem;
}

.section_separator {
    padding: .25rem;
    margin: .25rem;
}

.list_separator {
    padding: .15rem;
    margin: .15rem;
}